*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{

    width:100%;
    height: 100vh;

    background-image:url('/images/home.jpg');
    background-position:center;
    background-size:cover;


}
.header-container{
    width: 100%;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    color: #fff;
}

.navbar{
    display: flex;
    gap: 25px;
}
.navbar>a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.nav-btn{
    padding: 10px 25px;
    border: none;
    border-radius: 40px;
    background:#f1c900;
    font-weight: bold;
    cursor: pointer;
}


.main-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 60px;
    gap: 30px;
}

.text{
    flex:1;
    max-width: 650px;
}

.text h1{
    font-size: 58px;
    font-weight: 800;
    line-height: 1.2;
    color: #fff;
}

.para{
    background:#f1c900;
    width: fit-content;
    margin-top: 20px;
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 4px;
}

.btn-group{
    display: flex;
    margin-top: 40px;
    gap: 20px;
}

.quote, .call{
    padding: 15px 35px;
    border-radius: 40px;
    font-size: 17px;
    cursor: pointer;
}

.quote{
    background:#f1c900;
    border: none;
    font-weight:bold;
}

.call{
    border: 3px solid #000;
    background: transparent;
    font-weight: bold;


}
.call:hover{
    background-color: #f1c900;

}



.features{
    display: flex;
    justify-content: space-between; /* even spacing like screenshot */
    align-items: flex-start;        
    gap: 30px;
    background: #F2F9F5;            /* same pale green background */
    padding: 60px 80px;
}

.feature-box{
    flex: 1;
    text-align: left;
}

.icon{
    width: 60px;
    height: 60px;
    background: #475B4F;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 28px;
    margin-bottom: 15px;
}

h3{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

p{
    color:#555;
    line-height: 1.6;
    width: 90%;
}



    

