* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {

    width: 100%;
    height: 100vh;

    background-image: url('/images/home.jpg');
    background-position: center;
    background-size: cover;




}

.container::after {

    content: " ";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);


}

.header-container {

    position: relative;
    z-index: 2;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: #fff;
}

.navbar {

    display: flex;
    gap: 25px;
}

.navbar>a {

    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.nav-btn {

    padding: 10px 25px;
    border: none;
    border-radius: 35px;
    background: #f5ce0c;
    padding: 1rem;
    font-weight: bold;
    cursor: pointer;
}


.main-container {

    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 60px;
    gap: 30px;
}

.text {

    flex: 1;
    max-width: 650px;
}

.text h1 {

    font-size: 58px;
    font-weight: 800;
    line-height: 1.2;
    color: #fff;
}

.para {

    width: 40%;
    background: #f5ce0c;
    margin-top: 20px;
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 10px;
}

.btn-group {

    display: flex;
    margin-top: 40px;
    gap: 20px;
}

.quote,
.call {

    padding: 15px 35px;
    border-radius: 40px;
    font-size: 17px;
    cursor: pointer;
}

.quote {

    background: #f1c900;
    border: none;
    font-weight: bold;
}

.call {

    border: 3px solid #000;
    background-color: white;
    font-weight: bold;


}

.call:hover {

    background-color: #f1c900;

}

.features {

    height: 40vh;
    width: 100%;
    background-color: rgb(235, 228, 216);

}

.dreams {

    padding: 5rem;
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
    display: flex;

}

.dream1 {



    width: 50%;
    height: 100%;
    position: relative;

}

.about-image>img {

    border-radius: 20px;
    height: 70%;
    width: 80%;
}

.about1-image>img {

    border-radius: 20px;

    position: absolute;

    right: 15%;
    bottom: 5%;
    border: 10px solid white;


}

.about1-image>img:hover {
    transform: translateY(-7rem);
}

.dream2 {
    display: flex;
    flex-direction: column;

    gap: 3rem;
    width: 50%;
    height: 100%;


}

.text {

    font-weight: 700;
    font-size: 3rem;
    color: black;

}

.check {

    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.btn-dream>button {

    background-color: white;
    padding: 1rem 5rem;
    border-radius: 40px;

}

.btn-dream>button:hover {
    background-color: #f1c900;
}






.services-section {
    text-align: center;
    padding: 70px 120px;
}

.title-1 {
    font-size: 11px;

    margin-bottom: 15px;
    color: #204b30;

    font-weight: bold;

    margin-bottom: 10px;
}

.title-2 {
    font-size: 30px;

    font-weight: 800;

    color: #0f2f22;

    margin-bottom: 50px;
}

.comp {
    background-color: yellow;
}

.services-container {
    display: flex;

    justify-content: center;

    gap: 35px;
    flex-wrap: wrap;
}


.card {

    width: 250px;
    background: white;
    border-radius: 20px;
    padding: 25px;
    transition: .3s;
    cursor: pointer;
}

.icon {
    width: 32px;
    margin-bottom: 12px;
}

.card h2 {

    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 700;
    color: #133526;
}

.card p {

    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
}


.service-img {

    width: 100%;
    border-radius: 12px;
}


.button-box {

    margin-top: 50px;
}

.Exp-btn {

    padding: 14px 30px;
    border-radius: 40px;
    border: 2px solid #0f3627;
    background: transparent;
    font-size: 14px;
    cursor: pointer;

}

.cta-btn:hover {

    background: #0f3627;
    color: #fff;
}





.commitment {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 90px;

    gap: 60px;
    color: #fff;

    background: #15423f;
}


.left {

    flex: 1.2;
}


.left h4 {

    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 12px;
    opacity: .85;
}

.left h1 {

    font-size: 42px;
    font-weight: bold;
    margin-bottom: 40px;
    line-height: 1.3;
}


.commit {

    width: 100%;

}

.commit-box {

    display: flex;
    gap: 20px;
    margin-bottom: 28px;
}


.icon {

    font-size: 35px;
    font-weight: bold;
    color: #F8C542;
}



.commit-box p {

    opacity: .85;
    line-height: 1.5;
    max-width: 480px;
}

hr {

    border: .5px solid rgba(255, 255, 255, 0.25);
    margin: 20px 0;
}

.right-div>img {

    border-radius: 20px;
}


.stunning-section {

    text-align: center;
    padding: 60px 5%;
}

.tag {

    font-size: 14px;
    font-weight: 600;
    opacity: 0.7;
}

.projects-section h2 {

    font-size: 42px;
    font-weight: 700;
    margin-bottom: 40px;
}

.project-container {

    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.project-card {

    width: 330px;
    height: 240px;

    border-radius: 12px;
    overflow: hidden;
    position: relative;
}

.project-card img {

    width: 100%;
    height: 100%;


}


.center-card .project-title {

    position: absolute;
    bottom: 15px;
    left: 20px;

    color: #fff;
    font-size: 18px;
    font-weight: 600;

}

.btn {

    padding: 12px 28px;

    border-radius: 30px;

    border: 1.5px solid #064e3b;
    background: transparent;
    font-size: 16px;

    margin-top: 35px;
    cursor: pointer;

}

.btn:hover {

    background-color: #f1c900;

    color: #fff;
}





.stunning-section {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;

    height: 100vh;
    width: 100%;


}

.tag {

    font-size: 12px;

}

.project-container {

    height: 60vh;
    width: 100%;


}

.project-card {

    height: 40vh;
    width: 30%;

    border-radius: 20px;

    display: flex;

    position: relative;

    align-items: center;

    justify-content: center;




}

.project-title {
    position: absolute;
    color: #fff;




}

.project-btn {

    padding: 1rem 4rem;
    margin-bottom: 6rem;
    border-radius: 40px;
}

.project-btn:hover {


    background-color: #f1c900;

    color: #fff;
}





.garden {
    display: flex;
    height: 80vh;
    width: 100%;

}


.garden-img {
    flex: 1;
    background: url("/images/footer-bg.jpg");
    display: flex;
    position: relative;
    align-items: end;
    flex-direction: column;
    justify-content: center;



}


.garden-content {
    height: 60vh;
    width: 50%;
    
    
    flex: 1;
    background: rgba(0, 0, 0, 0.1);
    color: #fff;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
}

.garden-content h1 {
    font-size: 2.6rem;
    margin-bottom: 20px;
}

.garden-content p {
    margin-bottom: 30px;
    line-height: 1.3;
}

.get-btn {
    background: #e7c500;
    color: #000;
    padding:1rem 4rem;
    border: none;
    font-size: 1rem;
    border-radius: 20px;
    cursor: pointer;
}



.footer {
    display: flex;
    justify-content: space-between;
    padding: 60px 80px;

    
    
}

.footer-col {
    flex: 1;
    min-width: 220px;
    margin-bottom: 30px;
}

.footer-col h3,
.footer-col h4 {
    margin-bottom: 15px;
}

.footer-col ul {
    list-style: none;
}

.footer-col ul li {
    margin-bottom: 8px;
}

.footer-col a {
    text-decoration: none;
    color: #333;
}

.footer p {
    line-height: 1.5;
}