*{

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.b{
    background-color: gray;
    height:200vh;
    width:100vw;
}
.box{

    position: absolute;
    height: 100px;;
    width:100px;
}
.box-1{

    background-color: brown;
    top:20%;
    left:45%;
}
.box-2{
    background-color:aqua;
    top: 25%;
    left:50%;
}

.box-3{

    background-color:yellow;
    top:25%;
    left:40%;
}
.box-4{
    background-color:orchid;

   top:33%;
   left:45%;
}